<h1>All users</h1>


-# apo ton user controller pairnw olous tou user

- @users.each do |u|

  -# den 8elw na emfanizetai epilogi na kanw follow ton euato mou

  -if u.email != @user.email
    .div-class
      %h4= u.email

      -# pernaw apo to url to ka8e id tou user pou 8elw na kanw follow

      = button_to 'follow', follow_path(:following_id => u.id)
