<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body id="LoginForm">
    <div class="container">
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h1>PhotoShare</h1>
            <br>
            <br>
            <h2>Sign Up</h2>
            <p>Please enter your email and password</p>
          </div>
          <form id="Login">
            <div class="form-group">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Repeat Password">
            </div>
            <div class="form-group">
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <div class="forgot">
              <a href="login">Already have an account?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
